h1{
    font-family: sans-serif;
    color: rgb(33, 123, 165);
}
.btn-get-started{
    border-radius: 30px;
    background-color: white;
    border-color: orange;
    color: orange
}
p{
    margin-bottom: 20px;
    font-family: sans-serif;
}

h2{
    font-family: sans-serif;
    color: rgb(33, 123, 165);
}
.btn-instagram{
    border-radius: 30px;
    background-color: purple;
    border-color: purple;
    color: white
}
.btn-facebook{
    border-radius: 30px;
    background-color: blue;
    border-color: blue;
    color: white
}
.btn-youtube{
    border-radius: 30px;
    background-color: red;
    border-color: red;
    color: white
}
